main{
    min-height: 85vh;
    background-color: rgba(224, 224, 224, 0.989);

}
header{
    min-height: 10vh;
}
footer{
    min-height: 5vh;
}



.carousel-inner img {
    width: 100%;
    max-height: 100px;
    
  
}
.imagen1, .imagen2, .imagen3  {
    width: 50px;
}


    


