main{
    min-height: 85vh;
    background-color: darkgray;

}
header{
    min-height: 10vh;
}
footer{
    min-height: 5vh;
}
.carousel-item{
    max-height: 25vh;
    
}
    

    .form-control me-2{
        min-width: 20vw;

}
